<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>

    <style>
        body{
            background-image: url("https://thumbs.dreamstime.com/b/hospital-departments-icons-set-vector-illustrations-white-background-hospital-departments-icons-set-vector-illustrations-142980785.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <meta charset="UTF-8">
    <title>Doctors</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">

</head>
<body>

<div class="wrapper-btn">

    <a th:href="@{/url}">
        <button class="btn btn-primary" type="button">back</button>
    </a>
    <a th:href="@{/{id}/doctors/saveDoctor (id=${hospitalId})}">
        <button class="btn btn-primary" type="button">Create</button>
    </a>
</div>
<div class="container mt-3">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>position</th>
            <th>email</th>
            <th>Hospital</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors}" >
            <td th:text="${doctor.id}"></td>
            <td th:text="${doctor.firstName}"></td>
            <td th:text="${doctor.lastName}"></td>
            <td th:text="${doctor.position}"></td>
            <td th:text="${doctor.email}"></td>
            <td th:text="${doctor.hospital.getName()}"></td>
        </tr>
        <form th:method="POST"
              th:each="doctor : ${doctors}"
              th:action="@{{id}/doctors/{doctorId}/delete(id=${hospitalId})(doctorId=${doctor.id})}">
            <input type="submit" class="btn btn-outline-primary"  th:value="  Delete  "/>
        </form>
        </tbody>
    </table>
</div>

</body>
</html>

















